# Terraform
setup/terraform/.terraform/
setup/terraform/.terraform.lock.hcl
setup/terraform/terraform.tfstate
setup/terraform/terraform.tfstate.backup
setup/terraform/*.tfvars

# Node
node_modules/

# Python
__pycache__/
*.pyc
.pytest_cache/

# OS
.DS_Store